/* Declare some variables */
$base-color: #ced4da;
$light-background: lighten(desaturate($base-color, 50%), 12.5%);

.current-page {
  font-size: 1.5rem;
  vertical-align: middle;
}

.country-card-container {
  height: 60px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.country-name {
  font-size: 0.9rem;
}

.country-region {
  font-size: 0.7rem;
}

.current-page,
.country-name,
.country-region {
  line-height: 1;
}
//Add some container support styles
.pagination-table-window {
  width: 1100px !important;
  height: 580px !important;
}

.prows .prow {
  display: inline-block;
}

.pheader {
  display: flex;
  justify-content: space-between;
}

.psummary {
  padding-top: 8px;
  padding-left: 5px;
}

.ppag {
  padding-right: 20px;
}

// Override some Bootstrap pagination styles
$theme-colors: (
  primary: #005ea2
);

@import "~bootstrap/scss/bootstrap";